 <div class="container mt-5">

    <div class="row pt-4">
      <div class="col-12">
      <h2 >Booking list</h2>
      </div>
   </div>

  <div class="row pt-4">
      <% @bookings.each do |booking| %>
        <div class="card col-4 ml-3">
          <h2>Booking #<%= booking.id %></h2>
            <ul>
              <li>Animal name: <b><%= booking.animal.name %></b></li>
              <li>Date in: <%= booking.date_in %></li>
              <li>Date out: <%= booking.date_out %></li>
              <li>Status: <%= booking.status %></li>
              <%= link_to "More info", animal_booking_path(booking.animal, booking), class: 'btn btn-primary' %>
            </ul>
        </div>
      <% end %>
    </div>
  </div>

