 <div class="container">
  <div class="d-flex justify-content-between pt-4">
    <h2 >Animal list</h2>
    <div>
      <%= link_to 'Add an animal', new_animal_path, class: 'btn btn-primary' %>
    </div>
  </div>

  <div class="row pt-4 mb-3">
    <% @animals.each do |animal| %>
      <% if animal.dead == false %>
        <div class="card-trip">
      <%  if animal.photo.class == String  %>
      <img src="https://www.solidbackgrounds.com/images/2560x1440/2560x1440-davys-grey-solid-color-background.jpg" alt="">
      <% else %>
      <%= cl_image_tag animal.photo.key %>
      <% end %>
      <div class="card-trip-infos">
        <div>
          <h2><%= animal.name %></h2>
          <p><%= animal.breed %></p>
          <p><%= animal.description.slice(0, 50) %> <%= animal.description.length > 50 ? "..." : "" %></p>
          <% ratings = [] %>
          <p><i class="far fa-star"></i><%= animal.average %>
        </div>
        <h2 class="card-trip-pricing">€<%= animal.price %></h2>
        </div>
        <%= link_to 'More info', animal_path(animal), class: 'btn btn-outline-primary mb-3 ml-3' %>
    </div>
      <% end %>
    <% end %>
    </div>
  </div>

