 <div class="container">
    <div class="row pt-4">
      <div class="col-12">
      <h2 >Booking list</h2>
      </div>
   </div>




    <div class="row pt-4 d-flex justify-content-between">
      <% @bookings.each do |booking| %>
        <% if booking.status != 'completed' %>
          <div class="card-trip list d-flex justify-content-between m-4">
          <div class="animal-thumb">
            <%= cl_image_tag booking.animal.photo.key, width:80, height: 80, class:"img-thumbnail mt-2 mr-2 ml-2" %>
          </div>
            <div class="card-trip-infos">
              <div>
                <h2><%= booking.animal.name %></h2>
                  <p> From <% date_in = booking.date_in %>
                  <%= date_in.strftime('%e %b') %>
                  <% date_out = booking.date_out %>
                  to <%= date_out.strftime('%e %b') %></p>

                  <p>Status: <%= booking.status %></p>
                  <%#= link_to "More info", animal_booking_path(booking.animal, booking), class: 'btn btn-outline-primary mb-2 ml-2 mt-2' %>
              </div>
            </div>
          </div>
        <% end %>

       <% end %>
    </div>


   <!--  <div class =" line mb-5"> -->
<!--
      <div class="booking_history"> -->
    <div class="history row pt-2 d-flex justify-content-between">
      <h2>Booking history</h2>
       <% @bookings.each do |booking| %>
        <% if booking.status == 'completed' %>
           <div class="booking_animal_card">
            <div class="try d-flex justify-content-between">
              <div class="section-hover d-flex justify-content-between">
                <h3><%= booking.animal.name %></h3>
                <%#= cl_image_tag booking.animal.photo.key, width:40, height: 40, class:"img-thumbnail mt-2 mr-2" %>

              <div class="date_review_container d-flex justify-content-around">
                <p><% date_in = booking.date_in %>
                  <%= date_in.strftime('%e %b') %>
                  <% date_out = booking.date_out %>
                  to <%= date_out.strftime('%e %b') %></p>
                <p class="review"> <%= link_to "Add a Review", animal_booking_path(booking.animal, booking) %></p>
              </div>
            <!-- </div>
             <img src="https://i.pinimg.com/originals/e9/2e/40/e92e408aac9f853b4a03173859f91d87.jpg" alt="" width= "40", height= "40" class="img-thumbnail mt-2 mr-2">
              </div> -->
           </div>
          <% end %>
        <% end %>
    </div>
     <!--  </div> -->
<!--     </div> -->
  </div>





