 <div class="container">
    <div class="row pt-4">
      <div class="col-12">
      <h2 >Booking list</h2>
      </div>
   </div>




    <div class="row pt-4 d-flex justify-content-between">
      <% @bookings.each do |booking| %>
        <% if booking.status != 'completed' %>
          <div class="card-trip list d-flex justify-content-between m-4">
          <div class="animal-thumb">
            <%= cl_image_tag booking.animal.photo.key, width:80, height: 80, class:"img-thumbnail mt-2 mr-2 ml-2" %>
          </div>
            <div class="card-trip-infos-list">
              <div>
                <h2><%= booking.animal.name %></h2>
                  <p> From <% date_in = booking.date_in %>
                  <%= date_in.strftime('%e %b') %>
                  <% date_out = booking.date_out %>
                  to <%= date_out.strftime('%e %b') %></p>

                  <p>Status: <%= booking.status %></p>
                  <%#= link_to "More info", animal_booking_path(booking.animal, booking), class: 'btn btn-outline-primary mb-2 ml-2 mt-2' %>
              </div>
            </div>
          </div>
        <% end %>

       <% end %>
    </div>

    <div class="history row pt-2 d-flex justify-content-between">
      <h2>Booking history</h2>
       <% @bookings.each do |booking| %>
        <% if booking.status == 'completed' %>
          <div class="booking_animal_card w-100">
            <div class="d-flex justify-content-between">
              <h3><%= booking.animal.name %></h3>
              <p><% date_in = booking.date_in %>
                <%= date_in.strftime('%e %b') %>
                <% date_out = booking.date_out %>
                to <%= date_out.strftime('%e %b') %></p>
            </div>
            <% unless booking.review_rating.present? %>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-window-<%= booking.id %>">
                Add a review
              </button>
            <% else %>
              <p><%= '⭐️' * booking.review_rating %> <%= booking.review_description %></p></div>
            <% end %>
          </div>
        <% end %>
        <div id="modal-window-<%= booking.id %>" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <%= render 'bookings/edit', booking: booking %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
</div>




