 <div class="container">
    <div class="row pt-4">
      <div class="col-12">
      <h2 >Requests</h2>
      </div>
   </div>

  <div class=" cards-large">
      <% @requests.each do |request| %>
        <div class="notification">
          <div class="notification-content">
            <p><small class="first_line"><%= request.created_at %></small></p>
            <p><small><strong><%= request.animal.name %></strong>  booked by <%= request.user.first_name %> from <%= request.date_in %> to <%= request.date_out %></small></p>
           <p>
             <%= simple_form_for [request.animal, request] do |f| %>
              <%= f.input :status, collection: ['pending', 'confirmed', 'declined', 'completed'], label: false %>
              <%= f.submit class: 'btn btn-ghost'%>
              <% end %>
           </p>

          </div>
         </div>
      <% end %>
    </div>

  </div>


