<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://www.tripsavvy.com/thmb/lM9zx1S99Qmfij2Xf7kyxfIn7zM=/4256x2832/filters:no_upscale():max_bytes(150000):strip_icc()/llama-overlooking-ruins-of-the-ancient-city-of-machu-picchu--peru--639822048-5ba3d1e1c9e77c0050d73538.jpg')">
  <div class="container">
    <h1 class="mb-5">Rent your <strong>llamas, alpacas and more</strong> <br>where you want!</h1>
    <%= simple_form_for :search, url: animals_path, method: :get do |f| %>
      <div class="search-form-control form-group">
      <input class="form-control string required" type="text" name="search[query]" id="search_query" placeholder="Enter an address" />
      <button name="button" type="submit" class="btn btn-primary">
        <i class="fas fa-search"></i> Search
      </button>
  </div>

    <% end %>
  </div>
</div>

<div class="container mt-3">
  <h2>The best animals</h2>
  <p>Discover a selection of the best rated camelidae in the world</p>
  <div class="cards">
    <% @animals.each do |animal| %>
    <%= link_to animal_path(animal) do %>
    <div class="card-trip small">
      <%  if animal.photo.class == String  %>
      <img src="https://i.pinimg.com/originals/e9/2e/40/e92e408aac9f853b4a03173859f91d87.jpg" alt="">
      <% else %>
      <%= cl_image_tag animal.photo.key %>
      <% end %>
      <div class="card-trip-infos">
        <div>
          <h2><%= animal.name %></h2>
          <p><%= animal.description.slice(0, 33) %><%= animal.description.length > 33 ? "..." : "" %></p>
          <p><i class="far fa-star"></i><%= animal.average %></p>
        </div>
        <h2 class="card-trip-pricing">€<%= animal.price %></h2>
        <%= cl_image_tag animal.user.photo.key, width: 60, height: 50, crop: :thumb, gravity: :face, class: "card-trip-user avatar" %>
        </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>

<!--  <#%= cl_image_tag @article.photo.key, height: 300, width: 400, crop: :fill %>
 -->


