<div class="container">
  <div class="row">
    <div class="col-6 mt-3">
      <h1 class="mb-4">Update <%= @animal.name %>'s details</h1>
      <%= simple_form_for(@animal) do |f| %>
        <%= f.input :name  %>
        <%= f.input :breed, collection: ['Alpaga', 'Camel','Llama'] %>
        <%= f.input :age %>
        <%= f.input :colour %>
        <%= f.input :city %>
        <%= f.input :description %>
        <%= f.input :photo %>
        <%= f.input :price %>
        <%= f.submit 'Update', class: 'btn btn-primary mr-2' %>
        <%= link_to 'Cancel', animal_path(@animal), class: 'btn btn-secondary' %>
      <% end %>
    </div>
  </div>
</div>
