 <div class="container mt-5">

  <div class="d-flex justify-content-between">
    <h2 >Animal list</h2>
    <div>
      <%= link_to 'Add an animal', new_animal_path, class: 'btn btn-primary' %>
    </div>
  </div>

  <div class="row pt-4">
    <% @animals.each do |animal| %>
      <% if animal.dead == false %>
        <div class="card col-4 ml-3">
          <h2><%= animal.name %></h2>
          <ul>
            <li>Breed: <%= animal.breed %></li>
            <li><%= animal.price %>€ per day</li>
         </ul>
            <%= link_to 'More info', animal_path(animal), class: 'btn btn-primary' %>
        </div>
      <% end %>
    <% end %>
    </div>
  </div>

  <div
    id="map"
    style="width: 50%;
    height: 200px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    class = "mt-5 ml-3"
  ></div>
