<div class="container mt-5">
  <h2>Add an animal</h2>
  <%= simple_form_for(@animal) do |f| %>
    <%= f.input :name  %>
    <%= f.input :breed, collection: ['Alpaga', 'Camel','Llama'] %>
    <%= f.input :age %>
    <%= f.input :colour %>
    <%= f.input :address %>
    <%= f.input :description %>
    <%= f.input :photo, as: :file %>
    <%= f.input :price %>
    <div class='d-flex'>
      <%= link_to 'Cancel', dashboard_path, class: 'btn btn-info' %>
      <%= f.submit 'Add my animal', class: 'btn btn-primary ml-2' %>
    </div>
  <% end %>
</div>
