 <h2 class="mt-5"><%= @animal.name %></h2>

   <%= @animal.breed %>
   <%= @animal.city %>
   <%= @animal.age %>
   <%= @animal.colour %>
   <%= @animal.description %>
   <%= @animal.price %>
<!-- add cloudinary photo here -->
