<div class="container mt-5">
  <div class="row d-flex justify-content-between">
    <div class="col-6">
      <div class="show-card">
        <div class="animal-card">
          <%  if @animal.photo.class == String  %>
            <img src="https://i.pinimg.com/originals/e9/2e/40/e92e408aac9f853b4a03173859f91d87.jpg" alt="">
          <% else %>
            <%= cl_image_tag @animal.photo.key %>
          <% end %>
          <div class="animal-infos p-3" >
            <h1> <%= @animal.name %> the <%= @animal.breed %></h1>
            <p> <strong>Breed: </strong> <%= @animal.breed %></p>
            <p> <strong>Description: </strong> <%= @animal.description %></p>
          </div>
        </div>
      </div>
    </div>

    <div class="update-or-book-card mr-4">
      <% if policy(@animal).update? %>
        <div>
          <%= render 'edit_animals' %>
        </div>
      <% else %>
        <div class="calendar_booking">
          <%=render 'shared/bookings_new', booking: Booking.new %>
        </div>
        <% if @animal.bookings.empty? %>
          <h2>Not convinced? Have a look at reviews</h2>
          <% @animal.bookings.each do |booking| %>
            <% booking.status == "completed" %>
            <% booking.review_description %>
            <p><%= '⭐️' * booking.review_rating.to_i %>   <%= booking.review_description %></p>
          <% end %>
        <% end %>
      <% end %>

    </div>
  </div>
    <!-- <div class="mt-4"> -->
      <%# if policy(@animal).update? %>
        <%#= link_to "Update #{@animal.name}", edit_animal_path(@animal), class: "btn btn-outline-primary mr-4" %>
      <%#= link_to "Kill #{@animal.name}", dead_animal_path(@animal), data: {confirm: "Killing #{@animal.name} ?"}, class: "btn btn-outline-primary mr-4"%>
      <%# else %>
        <%#= link_to "Book #{@animal.name}", new_animal_booking_path(@animal), class: 'btn btn-outline-primary mr-4' %>
      <%# end %>
      <%#= link_to "Back to my ", dashboard_path, class: 'btn btn-outline-primary mr-4' %>
    <!-- </div> -->

  </div>




</div>






