<div class="container mt-5">
  <h2 class=""><%= @animal.name %> the <%= @animal.breed %></h2>
  <% if @animal.dead %>
    <h2> Nos Vemos pronto </h2>
  <% else %>
  <div class="card">
    <div class="card-trip">
      <%  if @animal.photo.class == String  %>
      <img src="https://i.pinimg.com/originals/e9/2e/40/e92e408aac9f853b4a03173859f91d87.jpg" alt="">
      <% else %>
      <%= cl_image_tag @animal.photo.key %>
      <% end %>
      <div class="card-trip-infos">
        <div>
          <h2> <%= @animal.name %></h2>
          <p> <strong>Breed: </strong> <%= @animal.breed %></p>
          <p> <strong>Description: </strong> <%= @animal.description %></p>
          <p> <strong>Hair colour: </strong> <%= @animal.colour %></p><br>

          <h2>Not convinced? Have a look at reviews</h2>
            <% @animal.bookings.each do |booking| %>
            <% booking.status == "completed" %>
            <% booking.review_description %>
            <p><%= '⭐️' * booking.review_rating.to_i %>   <%= booking.review_description %></p>
          <% end %>
          <div class="mt-4">
            <%= link_to "Update #{@animal.name}", edit_animal_path(@animal), class: "btn btn-outline-primary mr-4" %>
            <%#= link_to "Kill #{@animal.name}", dead_animal_path(@animal), data: {confirm: "Killing #{@animal.name} ?"}, class: "btn btn-outline-primary mr-4"%>
            <%= link_to "Book #{@animal.name}", new_animal_booking_path(@animal), class: 'btn btn-outline-primary mr-4' %>
            <%= link_to "Back to my animals", dashboard_path, class: 'btn btn-outline-primary mr-4' %>
          </div>

    </div>
  </div>

  <% end %>
</div>
</div>
</div>






